# Rails API
API_BASE_URL=http://localhost:3001

# Firebase（コンソールから取得）
NUXT_PUBLIC_FIREBASE_API_KEY=
NUXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NUXT_PUBLIC_FIREBASE_PROJECT_ID=
NUXT_PUBLIC_FIREBASE_APP_ID=

# Stripe（テストモード）
NUXT_STRIPE_SECRET_KEY=
NUXT_STRIPE_WEBHOOK_SECRET=
